<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <title>E-commerce | <%= title %></title>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.freepik.com/free-photo/online-purchasing-payment-e-commerce-banking_53876-127604.jpg?w=996&t=st=1667264140~exp=1667264740~hmac=8b140b00a02f7da6b5f164c1a388f0934f6c1ca1bec445cfed8c19086ef58c8b" class="d-block w-100" alt="...">
        </div>
        <!-- <div class="carousel-item">
          <img src="/images/crm2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/crm1.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
  
  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>
